@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.worksBlock {
  //min-height: 100vh;
  @include flex(row, center, center, nowrap);
  background-color: $mainBgColor;
  padding: 100px 0;

  .container {
    @include container();
    @include flex(row, center, center, wrap);

    .projects {
      //border: 1px solid;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-start;
      @media screen and (max-width: 1149px) {
        justify-content: center;
      }
    }
  }
}

