.contactsBlock {
    background-color: #1d1b19;
    /*height: 50vh;*/
}

.container {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.headerTitle {

}

.submitButton {
    margin-top: 5px;
    width: 80px;
}