@import '../../common/styles/sass/variables';
@import "../../common/styles/sass/mixins";

.project {
  width: 450px;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  background-color: $secondBgColor;
  //border: 1px solid;
  text-align: center;
  margin: 5px;

  .image {
    height: 300px;
    /*border: 1px dashed;*/
    background-color: #8a67b0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      background-color: black;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.4;
    }

    .viewBtn {
      color: $textColor;
      background-color: $secondBgColor;
      border: 2px solid $dividerColor;
      padding: 10px 20px;
      transition: all .5s ease;
      position: relative;
      z-index: 1;

      &:hover {
        cursor: pointer;
        color: $goldColor;
        border: 2px solid $goldColor;
      }
    }
  }

  .projectInfo {
    padding: 25px 20px;

    .projectTitle {
      @include text($titleFontFamily, 30px, 400, 1.2, $textColor);
      margin: 0 0 18px;
      padding: 0;
    }

    .description {
      @include text($fontFamilyOrder, 18px, 400, 1.44, $textColor)
    }
  }
}