.title {
  color: #ddd;
  font-family: 'Jost', sans-serif;
  line-height: 1.2;
  letter-spacing: 0;
  padding: 0 0 15px;
  margin: 0 0 34px;
  position: relative;

  h3 {
    margin: 0;
    font-size: 48px;
    font-weight: 400;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: rgba(255, 255, 255, .2);
    width: 150px;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}

