@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.formBlock {
  min-width: 50%;
  /*height: 150px;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .form {
    /*height: 100%;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .input {
      @include textWithoutFontWeight($fontFamilyOrder, 16px, 70px, #ccc);
      width: 100%;
      display: block;
      border-radius: 1px;
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, .2);
      outline: none;
      padding: 0 20px !important;
      line-height: 70px;
      height: 70px;
      letter-spacing: .5px;
      box-sizing: border-box;
      vertical-align: middle;
      transition: all .5s ease;

      &:focus {
        border-color: $goldColor;
      }
    }

    .textarea {
      @include textWithoutFontWeight($fontFamilyOrder, 16px, 1.5, #ccc);
      outline: none;
      height: 200px;
      border-radius: 1px;
      resize: vertical;
      background-color: transparent;
      box-sizing: border-box;
      padding: 16px 20px !important;
      width: 100%;
      //border: 1px solid rgba(255,255,255,.2);
      transition: all .5s ease;

      &:focus {
        border-color: $goldColor;
      }
    }
  }

  @media screen and (max-width: 500px) {
    min-width: 100%;
  }
}