@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';


.skillsBlock {
  @include flex(row, center, center, nowrap);
  min-height: 100vh;
  background-color: $secondBgColor;
  padding: 100px 0;

  .container {
    @include container();
    @include flex(row, center, center, wrap);

    .skills {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media screen and (max-width: 649px) {
        justify-content: center;
      }
    }
  }
}