@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.mainBlock {
  min-height: 100vh;
  background-color: $mainBgColor;

  .text {
    @include text($titleFontFamily, 18px, 500, 1.2, #999);
    width: 300px;
    /*background-color: grey;*/
    background-color: $mainBgColor;
    padding: 0;
    text-transform: uppercase;
    margin: 0 0 8px;
  }
}

.photo {
  width: 300px;
  height: 400px;
  /*background-color: grey;*/
  background-color: $secondBgColor;

}