@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.mainBlock {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  @include flex(row, center, center, nowrap);
  //background-color: $mainBgColor;

  .container {
    position: absolute;
    @include container();
    @include flex(row, space-between, center, wrap);

    .text {
      @include text($titleFontFamily, 18px, 500, 1.2, $headersColor);
      width: 300px;
      padding: 0;
      text-transform: uppercase;
      margin: 0 0 8px;
      .name {
        @include text($titleFontFamily, 36px, bold, 1.2, $headersColor);
      }
    }

    .photo {
      width: 300px;
      height: 400px;
      background-color: $secondBgColor;
    }

    @media screen and (max-width: 749px) {
      justify-content: center;
    }
  }
}