//$headersColor: #ddd;
$headersColor: #987750;
//$textColor: #888;
$textColor: #fff;
$dividerColor: rgba(255, 255, 255, .2);
$mainBgColor: rgba(29, 27, 25, 0.8);
$secondBgColor: rgba(24, 23, 21, 0.8);
$goldColor: #987750;
$titleFontFamily: 'Jost', sans-serif;
$fontFamilyOrder: 'Jost', 'Arial', 'Helvetica', sans-serif;
