.footer {
    height: 30vh;
    background-color: darkcyan;
}

.container {
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.socialMedia {
    height: 60px;
    width: 250px;
    display: flex;
    justify-content: space-between;
    border: 1px solid;
}